﻿



#masthead h1 {
    color: white;
    text-align: left;
    font-family: Arsenal;
    font-size: 60px;
}

#masthead h2 {
    color: white;
    text-align: right;
    font-family: Arsenal;
    font-size: 15px;
    color: lightgray;
}


#myCarousel {

    height: 500px;
    background-color: dimgray;
    text-align: center;
    box-shadow: inset 0 0 5px 0px black;
}
.carousel-indicators{
    top: 0px;
    opacity: 0.6;
    
}

#inner{

    padding-top: 25px;
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 95%;
}

#single {
    position: relative;
    left:-30%;
    top:0px;

}



