﻿/*
    Site wide CSS page for Portfolio
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #424549;
    color: white;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    position: fixed;
}

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: white;
}

h1 {
    color: white;
    text-align: left;
    font-family: Arsenal;
    font-size: 60px;
}