﻿@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<address>

</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">tdennis206@gmail.com</a><br />
    
</address>