﻿@{
    ViewBag.Title = "Landing Page";
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="vCard portfolio as a addition to a resume">
    <meta name="author" content="Travis Dennis">




    <!-- Custom styles for this page -->
    <link href="~/Content/landingpage.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arsenal' rel='stylesheet'>

</head>

<body>

    <!-- Masthead -->
    <header  id="masthead" >
        <div class="row">
            <div class="col-md-5">
                <h1>Travis Dennis</h1>
            </div>

            <div class="col-md-7">
                <h2>tdennis206@gmail.com</h2> 
                <h2>(360)261-1150</h2>
                <h2><a href="https://bitbucket.org/tdennis15/portfolio/overview">Bitbucket Repo of this page</a></h2>
            </div>

        </div>

       
    </header>
    <h1>@Html.ActionLink("BLOG!", "Blog", "Blog")

    <div class="row">
      


            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" id="inner">
                        <div class="item active">
                            <div class="col-md-8">
                                <img src="~/img/landingpage/diredoglogo.png" />
                            </div>
 
                            <div class="col-md-4">
                                <h2><em>DireDog Team Projects</em></h2>
                            </div>
                          
                        </div>

                        <div class="item">
                            <div class="col-md-4">
                                <h2><em>Personal Projects</em></h2>
                            </div>

                            <div class="col-md-8" id="single">
                                <img src="~/img/landingpage/diredogsingle.png" />
                            </div>
                            
                        </div>

                        <div class="item">

                            <h2><em>Interests and Hobbies</em></h2>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        

    </div>

    
    
    
</body>

