﻿
@{
    ViewBag.Title = "Resume";
}



    <h1>Resume</h1>


<!--
    <embed src="~/Content/TravisDennis-Resume.pdf" width="1000" height="1200" type='application/pdf'>
-->


<iframe src="https://drive.google.com/file/d/1gWXSkZ2k03GB9xfRjGyK5tNM_ktLDRPA/preview" width="1000" height="1200"></iframe>