﻿@model IEnumerable<Portfolio.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h3>
    The accepted format for a blog is <br />(1) What have I done since the last update, <br />(2) What do I need to do before the next update?, <br />(3) What could be an barrier to me accomplishing this? <br />
</h3>
<table class="table">
    <tr>
        <th>
            Blog Post #
        </th>
        <th>
           Blog Post Preview
        </th>
        <th>
            Date Posted
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
