﻿@model Portfolio.Models.BlogPost

@{
    ViewBag.Title = "BlogCreate";
}

<h2>BlogCreate</h2>
<br />
<h3>
    The accepted format for a blog is <br />(1) What have I done since the last update, <br />(2) What do I need to do before the next update?, <br />(3) What could be an barrier to me accomplishing this? <br />
</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BlogPost</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PostContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="textarea">
                @Html.EditorFor(model => model.PostContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Blog")
</div>
