﻿@model Portfolio.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Blog</h2>
<br />
<div>
    <h4>Blog Post #@Model.PostID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Post Content:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>

        <dt>
           Date Posted
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Blog")
</p>
